snippet aaa "11 11"
	for i in a:
		pass
endsnippet

snippet header "module description"
'''
Author: kayang, kayang.name@outlook.com
Date: 2022-06-29 11:17:08
LastEditors: kayang
LastEditTime: 2022-07-15 12:01:33
Description: file content
Copyright (c) 2022 by kayang, All Rights Reserved.
'''
endsnippet

snippet class "class init"
class $1():
	''' $0 '''
	def __init__(self):
		pass
endsnippet
